<!-- breadcrumb	-->
<ul class="breadcrumb hidden-xs">
	<li>{{#link-to "index"}}Home{{/link-to}}</li>
	<li>{{model.name}}</li>
	<li class="active">Disease Information</li>
</ul>


<!-- main -->
<div class="container">
	<div class="large-top-spacing">
		<div class="row">
			<h1>{{model.name}}</h1>
			{{#if model.hasDiseaseClasses}}
			<h3>Disease Classes</h3>
			<ul class="list-inline">
				{{#each model.diseaseClass as |diseaseClass|}}
				<li>{{diseaseClassLink diseaseClass}}</li>
				{{/each}}
			</ul>
			{{/if}}
		</div>
	</div>
</div>
