<div class="col-xs-12 col-md-9 col-md-offset-3 big-margin-bottom">
	<div class="small-padding-bottom pull-left col-xs-1 col-md-1 input-group">
		<span class="input-group-addon">Provenance</span>
		<span class="input-group-btn" data-toggle="buttons">
			<label {{action 'enableProvenance'}} class="btn btn-default">
				<input type="radio" name="options" id="option1" checked>Show
			</label>
			<label {{action 'disableProvenance'}} class="btn btn-default active">
				<input type="radio" name="options" id="option2">Hide
			</label>
		</span>
	</div>
	<ul class="list-inline">
		{{#if threeDeeEnabled}}<li class="small-padding-bottom"><button {{action 'drawProtein'}} {{bind-attr class=":btn :btn-default :btn-small"}} title="Visualize this target in 3D">3D</button></li>{{/if}}
		<li class="small-padding-bottom">{{#link-to "targets.pharmacology" (query-params uri=this.URI) class="btn btn-default" }}Pharmacology{{/link-to}}</li>
		<li class="small-padding-bottom">{{#link-to "targets.pathways" (query-params uri=this.URI) class="btn btn-default" }}Pathways{{/link-to}}</;i>
	</ul>
</div>
