<div class="col-xs-12 col-md-12">
	<div class="centre col-xs-12 col-md-3">{{cs_image_src csURI}}</div>
	<!--title and formula-->
	<div class="col-xs-12 col-md-9">
		<h1 class="break-word">
			{{#if prefLabel}}
			{{prefLabel}}
			{{else}}
			<span class="muted">No label</span>
			{{/if}}
			{{#if showProvenance}}
			{{provenanceLinkout cwURI 'conceptwiki'}}
			{{/if}}
		</h1>
	</div>
</div>
