{{insertKetcherIframe this}}
<button class="button" type="button" {{action 'useMolecule'}} title="Structure search using this molecule">Structure search</button><button class="button" type="button" {{action 'findCompound'}} title="Find compound which matches this structure">Search for compound</button>
