<div class="medium-margin-bottom medium-margin-left">
	<button class="button" type="button" {{action 'findCompound'}} title="Structure search using this molecule">Search for compound</button>
	<p class="inline medium-margin-left">Draw a structure in the area below and click on the 'Search for compound' button to find it.</p>
</div>
{{insertKetcherIframe this}}
<div>
	<button class="button medium-margin-left" type="button" {{action 'findCompound'}} title="Structure search using this molecule">Search for compound</button>
</div>
