<div>

	<ul class="breadcrumb">
  		<li><a href="/">Home</a> <span class="divider">/</span></li>
  		<li>Ontologies<span class="divider">/</span></li>
  		<li class="active">{{selectedTree}}</li>
		
	</ul>	
	
</div>
<div class="left big-padding-left">
<h3>Select an ontology</h3>
{{view Ember.Select
       content=treeTypes
       prompt="Please select a target class"
       value=defaultTree
       multiple=false
       selection=selectedTree}}
</div>

<div id="ontology-container" class="right small-padding-left">
{{view App.TreeBranchView contentBinding="controller.content"}}
</div>
