<div>

	<ul class="breadcrumb">
  		<li><a href="/">Home</a> <span class="divider">/</span></li>
  		<li>Enzyme Families<span class="divider">/</span></li>
  		<li class="active">Please Browse and choose an Enzyme Family Class</li>
		
	</ul>	
	
</div>
{{view Ember.Select
       content=treeTypes
       prompt="Please select a target class"
       value=defaultTree
       selection=selectedTree}}

<div  style="width: 50%; margin: 0px auto; padding-top: 40px;">
<div class="enzymeNameHeader">Class</div><div class="enzymeURIHeader">Name</div>
<div class="small-padding-left">
{{view App.TreeBranchView contentBinding="controller.content"}}
</div>
</div>
