<div>

	<ul class="breadcrumb">
  		<li><a href="/">Home</a> <span class="divider">/</span></li>
  		<li>Ontologies<span class="divider">/</span></li>
  		<li class="active">{{selectedTree}}</li>
		
	</ul>	
	
</div>
<h3>Select an ontology</h3>
{{view Ember.Select
       content=treeTypes
       prompt="Please select a target class"
       value=defaultTree
       selection=selectedTree}}

<div  style="width: 50%; margin: 0px auto; padding-top: 40px;">
<div class="enzymeNameHeader">Class</div><div class="enzymeURIHeader">Name</div>
<div class="small-padding-left">
{{view App.TreeBranchView contentBinding="controller.arrangedContent"}}
</div>
</div>
