Enzyme pharmacology Index
{{#if empty}}
There are no pharmacology results

{{else}}

<table>
	<thead>
<tr><th>a</th><th>b</th><th>c</th></tr>
</thead>
<tbody>
{{#each enzymePharma in pharmacology}}
<tr><td>stuff</td><td>more stuff</td><td>even more stuff</td></tr>
{{/each}}
</tbody>
</table>

{{/if}}

<script type="text/javascript">
$(window).off("scroll", scrollHandler);
scrollOnThisPage = true;
pageScrolling = false;
scrollHandler = function() {
    var s = $(window).scrollTop(),
        d = $(document).height(),
        c = $(window).height();
        scrollPercent = (s / (d-c)) * 100;
    if (scrollPercent >= 99 && pageScrolling != true && scrollOnThisPage == true) {
        disable_scroll();
        pageScrolling = true;
        console.log("Fetching results for scroll " + pageScrolling);
        //this is not a very pleasant way to get the controller but can find no other method
        App.__container__.lookup('controller:enzymePharmacologyIndex').fetchMore();
    }
};
</script>
