<!-- breadcrumb	-->
<ul class="breadcrumb hidden-xs">
	<li>{{#link-to "index"}}Home{{/link-to}}</li>
	<li>{{title}}</li>
	<li class="active">Pathway Information</li>
</ul>


<!-- main -->
<div>
	<div class="row">
		<!--Body content-->
		<!-- Use the col ordering to pull and push on bigger devices so that smaller devices have the title on top -->
		{{partial "pathways/pathwayIndexButtons"}}
		<div class="col-sm-8 col-sm-push-4 col-md-9 col-md-push-3">
			{{partial "pathways/pathwayIndexTitle"}}
		</div>
		<div class="col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9">
			{{partial "pathways/pathwayIndexDetails"}}
		</div>
	</div>
</div>
