<div class="col-xs-12 col-md-9 col-md-offset-3">
	<div class="small-padding-bottom pull-left col-xs-1 col-md-1 input-group">
		<span class="input-group-addon">Provenance</span>
		<span class="input-group-btn" data-toggle="buttons">
			<label {{action 'enableProvenance'}} class="btn btn-default">
				<input type="radio" name="options" id="option1" checked>Show
			</label>
			<label {{action 'disableProvenance'}} class="btn btn-default active">
				<input type="radio" name="options" id="option2">Hide
			</label>
		</span>
	</div>

	<ul class="list-inline">
		<li class="small-padding-bottom">
		<div class="large-padding-left text-left">
			{{#link-to "pathways.compounds" (query-params uri=URI) class="btn btn-default"}}Compounds{{/link-to}}
		</div>
		</li>
	</ul>
</div>
