<!-- title -->
<div>
	<h1>{{title}} {{#if showProvenance}}{{provenanceLinkout wikipathwaysProvenance.title wikipathwaysProvenance.source}}{{/if}}</h1>
</div>

<!--description-->
<div class="summary-descriptive-text large-top-spacing">
	<p>{{description}} {{#if showProvenance}}{{provenanceLinkout wikipathwaysProvenance.description wikipathwaysProvenance.source}}{{/if}}</p>
</div>
