<div class='navbar navbar-inverse navbar-fixed-top'>
  <div class='navbar-inner'>
    <div class='row offset1'>
      <div class='nav-collapse collapse'>
        <ul class='nav'>
          <li {{bindAttr class="isHome:active"}}>{{#linkTo 'index'}}Home{{/linkTo}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class='row offset1' id='main'>
  <div class='content'>
        {{outlet}}
  </div>
</div>
