<div class='navbar navbar-inverse navbar-fixed-top'>
  <div class='navbar-inner' style='padding: 0 20px;'>
    <a class="brand" href="#">Open PHACTS</a>
      <div class='nav-collapse collapse'>
        <ul class='nav'>
          <li {{bindAttr class="isHome:active"}}>{{#linkTo 'index'}}Home{{/linkTo}}</li>
        </ul>
		<div class="navbar-search pull-left">
	    {{view App.SearchBox
	           placeholder="Search for a compound" valueBinding="App.searchController.query" id="search_box"}}		
	    </div>
      </div>
  </div>
</div>
<div class='row offset1' id='main'>
  <div class='content'>
<div class="row">
</div>
        {{outlet}}
  </div>
</div>
