<div style="padding:0 0 20px 0;">
<div class="navbar navbar-static-top navbar-inverse" style="border-bottom:medium solid DimGray;">
<div class="navbar-inner">
    <a class="brand" href="/"><img  src="/assets/ops_logo.png" width="25" height="25"> Open PHACTS Explorer</a>
    <div class="navbar-search pull-left" action="">
			{{view App.SearchBox
	           placeholder="Search" valueBinding="App.searchController.query" id="search_box" class="search-query span4" data-provide="typeahead" autocomplete="off"}}
    </div>	
    <ul class="nav pull-right">
        <li id="search-only" class="active"><a href="#about">Search</a></li>
    	<li id="compound-only"><a href="#compound">Compound</a></li>
        <li id="target-only"><a href="#target">Target</a></li>
        <li class="dropdown">
        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pharmacology <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#pharmByCompound">by Compound</a></li>
                <li><a href="#pharmByTarget">by Target</a></li>
                <li><a href="#pharmByEnzyme">by Enzyme</a></li>
            </ul>
        </li>
    </ul>
  </div>
</div>
</div>

<div class='content'>
	{{outlet}}
</div>

<script> 

	$('#compound-only').click(function(){
		
		console.log('click');
		selectionFilter = 'good test';
		typeaheadUrl = '/search/typeaheadCompounds';
		
		$('#search_box').attr('placeholder', 'Search for Compounds');
		
		$('#compound-only').addClass('active');
		$('#search-only').removeClass('active');
		$('#target-only').removeClass('active');

	});
	
	$('#target-only').click(function(){
		
		console.log('click');
		selectionFilter = 'good test';
		typeaheadUrl = '/search/typeaheadTargets';
		
		$('#search_box').attr('placeholder', 'Search for Targets');
		
		$('#target-only').addClass('active');
		$('#search-only').removeClass('active');
		$('#compound-only').removeClass('active');

	});
	
	$('#search-only').click(function(){
		
		console.log('click');
		selectionFilter = 'good test';
		typeaheadUrl = '/search/typeahead';
		$('#search_box').attr('placeholder', 'Search');
		
		$('#search-only').addClass('active');
		$('#compound-only').removeClass('active');
		$('#target-only').removeClass('active');

	});
	
	
</script>