<div class="enzymeNameHeader">EC number</div><div class="enzymeURIHeader">Enzyme Family Name</div>
<div class="small-padding-left">
{{view App.TreeBranchView contentBinding="controller.content"}}
</div>
{{outlet}}
