<div class="container marketing" style="padding:100px 0 0 0;">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="span4">
            <img src="/assets/explore.png">
            <h2>Exploration</h2>
            <p>The Open PHACTS Explorer provides a user interface to the Open PHACTS platform and is being built to answer
 the critical pharmacology questions defined by eight major pharmaceutical companies.</p>
            <p>
                <a class="btn" href="#">View details</a>
            </p>
        </div>
        <div class="span4">
       	    <img src="/assets/data.png">
            <h2>Data</h2>
            <p> The platform includes data from ChEMBL, ChMBL, Uniprot, Gene Ontology, ChemSpider, ENZYME, BridgeDB,
  predicted physical property data from ACD/Labs, and more.</p>
            <p>
                <a class="btn" href="#">View details</a>
            </p>
        </div>
        <div class="span4">
		    <img src="/assets/prov.png">
            <h2>Provenance</h2>
            <p>Provenance everywhere. Find out the origin and datasource of all data within Open PHACTS. Link out to the corresponding data-source for that exact item.</p>
            <p>
                <a class="btn" href="#">View details</a>
            </p>
        </div>
    </div>
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <div class="featurette">
        <img class="featurette-image img-rounded pull-right" src="/assets/chemicals.png">
        <h2 class="featurette-heading">Integrated phamacological and physiochemical data. <span class="muted">Explore.</span></h2>
        <p class="lead">The Explorer provides a way to query up-to-date data sources; the integration process includes chemistry validation,
 and particularly deals with mulitple identifiers for the same concept.  The platform allows for rapid addition of
 new data sources, and the development of the platform and the use-case driven and tested by users in industry and academia.</p>
    </div>
    <hr class="featurette-divider">
    <div class="featurette">
        <img class="featurette-image img-rounded pull-left" src="/assets/big-spikey-balls.png">
        <h2 class="featurette-heading">Export to your commonly used analysis pipelines and tools.  <span class="muted">Integrate.</span></h2>
        <p class="lead">Take integrated phamacological and chemical data from various souces and feed them into your workflows, in-house tools and pipelines. </p>
    </div>
    <hr class="featurette-divider">
    <div class="featurette">
        <img class="featurette-image pull-right" src="/assets/query.png">
        <h2 class="featurette-heading">Built to answer critical pharmacological questions. <span class="muted">Query.</span></h2>
        <p class="lead">Open PHACTS links the large amounts of physicochemical and pharmacological data available in public databases, and provides a means of querying this via the Open PHACTS Explorer</p>
    </div>
    <hr class="featurette-divider">
    <!-- END THE FEATURETTES -->

    <!-- FOOTER -->
    <footer>
        <p class="pull-right">
            <a href="#">Back to top</a>
        </p>
        <p>© 2013-2014 <a href="http://www.manchester.ac.uk">University of Manchester</a> & <a href="http://www.openphacts.org">Open PHACTS</a></p>
    </footer>
</div>
