<div class="row span12">
    {{view App.SearchBox
           placeholder="Search for a compound" id="search_box"}}
</div>
<div class="row span12">
  {{#if App.searchResultsController.isSearching}}
    Searching. Please wait…
  {{/if}}
</div>
    {{#each App.compoundsController}}
{{#if exactMatch}}
<div class="row span12">
  {{view App.SearchMatch}}
</div>
{{else}}
<div class="row span12">
  {{view App.SearchResult}}
</div>
{{/if}}
    {{/each}}
