<div class="marketing" style="padding:100px 0 0 0;">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-md-4">
            <img src="/assets/explore.png">
            <h2>Exploration</h2>
	    <p>The Open PHACTS Explorer provides a user interface to the Open PHACTS Discovery Platform and is built to answer
 the critical pharmacology questions defined by eight major pharmaceutical companies.</p>
        </div>
        <div class="col-md-4">
       	    <img src="/assets/data.png">
            <h2>Data</h2>
	    <p> The Open PHACTS Discovery Platform includes data from ChEMBL, ChEBI, UniProt, Gene Ontology, ChemSpider, ConceptWiki, ENZYME, SwissProt, BridgeDB and WikiPathways.</p>
        </div>
        <div class="col-md-4">
		    <img src="/assets/prov.png">
            <h2>Provenance</h2>
            <p>Provenance everywhere. Find the origin and original data source of all data within the Open PHACTS Discovery Platform. Link out to the corresponding data source for that exact item.</p>
        </div>
    </div>
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <div class="featurette">
        <img class="featurette-image img-rounded pull-right" src="/assets/chemicals.png">
        <h2 class="featurette-heading">Integrated pharmacological and physicochemical data. <span class="muted">Explore.</span></h2>
        <p class="lead">The Explorer provides an intuitive way to query the multiple data sources integrated in the Open PHACTS Discovery Platform. During the integration process, chemistry is validated and identifiers mapped. Development of the Open PHACTS Discovery Platform is driven by scientific use-cases and is tested by a community of industrial and academic users.</p>
    </div>
    <hr class="featurette-divider">
    <div class="featurette">
        <img class="featurette-image img-rounded pull-left" src="/assets/big-spikey-balls.png">
        <h2 class="featurette-heading">Export to your commonly used analysis pipelines and tools.  <span class="muted">Integrate.</span></h2>
        <p class="lead">Take integrated pharmacological and physicochemical data from various data-souces and feed them into your scientific workflows, in-house tools and pipelines.</p>
    </div>
    <hr class="featurette-divider">
    <div class="featurette">
        <img class="featurette-image pull-right" src="/assets/query.png">
        <h2 class="featurette-heading">Built to answer critical pharmacological questions. <span class="muted">Query.</span></h2>
        <p class="lead">The Open PHACTS Discovery Platform links the large amounts of physicochemical and pharmacological data available in public databases, and provides a means of querying this via the Open PHACTS Explorer.</p>
    </div>
    <hr class="featurette-divider">

    <!-- END THE FEATURETTES -->

    <!-- FOOTER -->
    <footer>
        <p class="pull-right">
            <a href="#">Back to top</a>
        </p>
        <p>© 2013-2014 <a href="http://www.manchester.ac.uk">University of Manchester</a> & <a href="http://www.openphacts.org">Open PHACTS</a></p>
    </footer>
</div>
<div class="centre">
    <ul class="no-list-style inline">
        <li><a href="http://www.ebi.ac.uk/chembldb" title="Chembl. A manually curated chemical database of bioactive molecules with drug-like properties. Maintained by the European Bio-informatics institute"><img src="/assets/chembl_logo.png"></a></li>
        <li><a href="http://ops.conceptwiki.org" title="ConceptWiki is an editable community owned repository of concepts used to define all concepts unambiguously."><img src="/assets/conceptwiki_logo.png"></a></li>
        <li><a href="http://www.chemspider.com" title="ChemSpider is a free chemical structure database providing fast text and structure search access to over 30 million structures from hundreds of data sources."><img src="/assets/chemspider_logo.png"></a></li>
        <li><a href="http://www.uniprot.org" title="The mission of UniProt is to provide the scientific community with a comprehensive, high-quality and freely accessible resource of protein sequence and functional information."><img src="/assets/uniprot_logo.png"></a></li>
        <li><a href="http://www.drugbank.ca" title="The DrugBank database is a unique bioinformatics and cheminformatics resource that combines detailed drug (i.e. chemical, pharmacological and pharmaceutical) data with comprehensive drug target (i.e. sequence, structure, and pathway) information."><img src="/assets/drugbank_logo.png"></a></li>
        <li><a href="http://www.wikipathways.org" title="WikiPathways is an open, public platform dedicated to the curation of biological pathways by and for the scientific community"><img src="/assets/wikipathways_logo.png"></a></li>
    </ul>
</div>
