<nav class="navbar navbar-static-top navbar-inverse" role="navigation" style="z-index: 1;">
<div class="container-fluid">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#explorer-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/"><img  src="/assets/ops_logo.png" width="25" height="25"><span class="hidden-xs small-margin-left">Open PHACTS Explorer</span><span class="hidden-sm hidden-md hidden-lg small-margin-left">Explorer</span><sup class="release-status">Beta</sup></a>
	</div>
	<div class="collapse navbar-collapse" id="explorer-navbar-collapse">
		<form class="navbar-form navbar-left" role="search">
			<div class="input-group" id="search-form" title="Search for compounds or targets using free text eg Asprin, PDE5 or a SMILES eg CC(=O)OC1=CC=CC=C1C(=O)O. Some auto-complete suggestions may be provided but you do not have to select these. To ignore them just click the button to search using the text you entered in the box. To remove the suggestions click Escape (ESC). You can also just hit enter when you have finished typing in but this will probably select the first auto-complete suggestion provided.">
				{{input type="text" placeholder="Enter search terms" value=searchQuery action="query" id="search_box" class="form-control" autocomplete="off"}}
				<span class="input-group-btn">
					<button id="search-button" type="submit" class="btn btn-default" {{action 'query'}}>Search</button>
				</span>
			</div>
		</form>
		<ul class="hidden-sm nav navbar-nav navbar-right">
			<li title="Search for a compound with a specific structure using a SMILES. Choose from an exact, sub-structure or similarity search.">{{#link-to "compounds.structure"}}Search for structure{{/link-to}}</li>
			<li title="Draw a structure and search for the compound.">{{#link-to "compounds.draw"}}Draw Molecule{{/link-to}}</li>
			<li id="target-class" title="Click to view ontology browser.">{{#link-to 'trees.index'}}Browse by Ontology{{/link-to}}</li>
			<li><a href="http://support.openphacts.org" title="View the help and ask for community support on the Open PHACTS support portal">Help</a></li>
			<li>{{#link-to "favourites" title="See all the things you have marked as favourites"}}<span class="glyphicon glyphicon-star" aria-hidden="true"><span class="sr-only">Favourites</span></span>{{/link-to}}</li>
			<li><a href="#alertsModalView" data-toggle="modal" title="Turns red when there are any alerts you need to pay attention to. Click to view."><span {{bind-attr class="alertsAvailable:label alertsAvailable:label-important"}}><i class="fa fa-bell-o"></i></span></a></li>
		</ul>
		<!-- On a small screen there is no room so show the dropdown -->
		<!-- Hide on xs since the navbar will collapse and show the links vertically -->
		<ul class="hidden-xs hidden-md hidden-lg nav navbar-nav navbar-right">
			<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Options <span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li title="Search for a compound with a specific structure using a SMILES. Choose from an exact, sub-structure or similarity search.">{{#link-to "compounds.structure"}}Search for structure{{/link-to}}</li>
				<li title="Draw a structure and search for the compound.">{{#link-to "compounds.draw"}}Draw Molecule{{/link-to}}</li>
				<li id="target-class" title="Click to view ontology browser.">{{#link-to 'trees.index'}}Browse by Ontology{{/link-to}}</li>
			</ul>
			</li>
			<li><a href="http://support.openphacts.org" title="View the help and ask for community support on the Open PHACTS support portal">Help</a></li>
			<li>{{#link-to "favourites" title="See all the things you have marked as favourites"}}<span class="glyphicon glyphicon-star" aria-hidden="true"><span class="sr-only">Favourites</span></span>{{/link-to}}</li>
			<li><a href="#alertsModalView" data-toggle="modal" title="Turns red when there are any alerts you need to pay attention to. Click to view."><span {{bind-attr class="alertsAvailable:label alertsAvailable:label-important"}}><i class="fa fa-bell-o"></i></span></a></li>
		</ul>
	</div>
</div>
</nav>
