<div class="search-result small-padding small-margin">
    <div>{{label}}</div>
    {{#if description}}
      <div>description</div>
      <div>{{description}}</div>
    {{/if}}
    {{#if smiles}}
      <div>{{smiles}}</div>
    {{/if}}
</div>
