<div class="row span12 huge-font" id="searching-message">
  {{#if App.searchResultsController.isSearching}}
    ...Searching. Please wait...
  {{/if}}
</div>
    {{#each result in App.searchController}}
<div class="row">
{{#if result.exactMatch}}
  {{view App.SearchMatch}}
{{else}}
  {{view App.SearchResult}}
{{/if}}
</div>
{{/each}}

<script type="text/javascript">
scrollOnThisPage = true;
</script>
