<div class="search-result small-padding medium-margin-top">
    <div>{{compound.compoundPrefLabel}}</div>
    {{#if compound.description}}
      <div>description</div>
      <div>{{compound.description}}</div>
    {{/if}}
    {{#if compound.compoundSmiles}}
      <div>{{compound.compoundSmiles}}</div>
    {{/if}}
</div>
