<ul class="breadcrumb">
  		<li><a href="/">Home</a> <span class="divider">/</span></li>
  		<li>General Search<span class="divider">/</span></li>
		<li class="active">{{totalResults}} Search Results Found</li>
	
		<div class="row pull-right"> 
  			<div class="span2 btn-group" data-toggle="buttons-radio" style="margin-top:-5px;">
  				<button class="btn active">List</button>
  				<button class="btn ">Object</button>
  			</div>
		</div>
</ul>
	
    {{#each result in controller}}
		<div class="row">
			{{#if result.exactMatch}}
  				{{view App.SearchMatch}}
			{{else}}
  				{{view App.SearchResult resultBinding='result'}}
			{{/if}}
		</div>
	{{/each}}
