<div class="search-result small-padding medium-margin-top">
    <div>{{compound.compound_pref_label}}</div>
    {{#if compound.description}}
      <div>description</div>
      <div>{{compound.description}}</div>
    {{/if}}
    {{#if compound.compound_smiles}}
      <div>{{compound.compound_smiles}}</div>
    {{/if}}
</div>
