<div class="search-result small-padding medium-margin-top">
    <div>{{compound.label}}</div>
    {{#if compound.description}}
      <div>description</div>
      <div>{{compound.description}}</div>
    {{/if}}
    {{#if compound.smiles}}
      <div>{{compound.smiles}}</div>
    {{/if}}
</div>
