<div class="row">
<div class="search-exact-match big-margin-top">
    Target here
</div>
<div>
{{#linkTo 'search'}}Back to Search{{/linkTo}}
</div>
</div>

<script type="text/javascript">
scrollOnThisPage = false;
</script>
