/* Padding and Margins */
$small: 5px;
$medium: 10px;
$big: 20px;
$huge: 40px;

/* small 5px */
.small-padding {
    padding: $small;
}
.small-padding-top {
    padding-top: $small;
}
.small-padding-left {
    padding-left: $small;
}
.small-padding-right {
    padding-right: $small;
}
.small-padding-bottom {
    padding-bottom: $small;
}
.small-margin {
    margin: $small;
}
.small-margin-top {
    margin-top:$small;
}
.small-margin-left {
    margin-left: $small;
}
.small-margin-right {
    margin-right: $small;
}
.small-margin-bottom {
    margin-bottom: $small;
}

/* medium 10px */
.medium-padding {
    padding: $medium;
}
.medium-padding-bottom {
	padding-bottom: $medium;
}
.medium-padding-right {
	padding-right: $medium;
}
.medium-padding-left {
    padding-left: $medium;
}
.medium-padding-top {
	padding-top: $medium;
}
.medium-margin {
    margin: $medium;
}
.medium-margin-top {
    margin-top: $medium;
}
.medium-margin-right {
    margin-right: $medium;
}
.medium-margin-bottom {
    margin-bottom: $medium;
}
.medium-margin-left {
    margin-left: $medium;
}
.big-margin {
    margin: $big;
}

/* big 20px */
.big-padding {
    padding:$big;
}
.big-padding-left {
    padding-left:$big;
}
.big-padding-top {
	padding-top: $big;
}
.big-padding-bottom {
	padding-bottom: $big;
}
.big-padding-right {
	padding-right: $big;
}
.big-margin-top {
    margin-top: $big;
}
.big-margin-left {
    margin-left: $big;
}
.big-margin-bottom {
    margin-bottom: $big;
}
.big-margin-right {
    margin-right: $big;
}

/* huge 40px */
.huge-padding-top {
    padding-top: $huge;
}
.huge-padding-left {
    padding-left: $huge;
}
.huge-padding-bottom {
    padding-bottom: $huge;
}
.huge-padding-right {
    padding-right: $huge;
}
.huge-margin-bottom {
    margin-bottom: $huge;
}

/* alignments */
.text-top {
  vertical-align: text-top;
}

/* remove all margins */
.no-margin {
  margin: 0;
}

/* remove all padding */
.no-padding {
  padding: 0;
}
.no-padding-left {
  padding-left: 0;
}

.no-top-margin {
    margin-top: 0;
}
