/* Tree View CSS */
div.enzymeNameHeader {
  width:280px;
  border-bottom: 1px solid LightGray;
  display: inline-block;
  padding-left: 5px;
}
div.enzymeURIHeader {
  width:300px;
  border-bottom: 1px solid LightGray;
  display: inline-block;
  padding-left: 5px;
  margin-left: 2px;
}
img.single-enzyme-icon {
  vertical-align: top;
  padding-right: 2px;
}
img.folder-open {
  vertical-align: top;
  padding-right: 2px;
}
img.folder-closed {
  vertical-align: top;
  padding-right: 2px;
}
a.enzymeName {
  /* width: 350px; */
  display: inline-block;
  padding-left:100px;
}
div.enzymeURI {
  vertical-align: top;
  width: 250px;
  display: inline-block;
}
div.indentLevel1 {

}
div.indentLevel2 {
	padding-left: 20px;
}	
div.indentLevel3 {
	padding-left: 40px;
}
div.indentLevel4 {
	padding-left: 60px;
}
div.indentLevel5 {
	padding-left: 80px;
}
div.indentLevel6 {
	padding-left: 100px;
}
div.indentLevel7 {
	padding-left: 120px;
}
div.indentLevel8 {
	padding-left: 140px;
}
div.indentLevel9 {
	padding-left: 160px;
}
div.indentLevel10 {
	padding-left: 180px;
}
div.indentLevel11 {
	padding-left: 200px;
}
div.indentLevel12 {
	padding-left: 220px;
}
div.indentLevel13 {
	padding-left: 240px;
}

div.indentLevel2 a.enzymeName {
	margin-left: -20px;
}
div.indentLevel3 a.enzymeName {
	margin-left: -40px;
}
div.indentLevel4 a.enzymeName {
	margin-left: -60px;
}
div.indentLevel5 a.enzymeName {
	margin-left: -80px;
}
div.indentLevel6 a.enzymeName {
	margin-left: -100px;
}
div.indentLevel7 a.enzymeName {
	margin-left: -120px;
}
div.indentLevel8 a.enzymeName {
	margin-left: -140px;
}
div.indentLevel9 a.enzymeName {
	margin-left: -160px;
}
div.indentLevel10 a.enzymeName {
	margin-left: -180px;
}
div.indentLevel11 a.enzymeName {
	margin-left: -20px;
}

div.tree-branch-open img.folder-closed {
	display: none;
}
div.tree-branch-closed img.folder-open {
	display: none;
}
div.tree-branch-open img.single-enzyme-icon {
	display: none;
}
div.tree-branch-closed img.single-enzyme-icon {
	display: none;
}
div.tree-node-icon img.folder-closed {
	display: none;
}
div.tree-node-icon img.folder-open {
	display: none;
}
div.tree-node-icon img.single-enzyme-icon {
	display: inline-block;
}
div.highlight-on {
	background-color: LightBlue;
}
div.hidden {
	display:none;
}
#ontology-container {
    width: 80%;
}
/* End of Tree View CSS */
